.services-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://gratisography.com/wp-content/uploads/2024/11/gratisography-augmented-reality-800x525.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.services-hero div {
  width: 49%;
}

.services-hero h2 {
  color: var(--text-white);
}

.services-container {
  background: var(--text-white);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 20px 0 30px;
}

.card {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--light-border);
  text-align: left;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card i.service-icon {
  font-size: 4rem;
  color: #111;
  margin-bottom: 10px;
  display: block;
}

.card-title {
  font-size: 1.2rem;
  color: var(--main-blue);
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.95rem;
  color: #333;
}

.learn-more {
  border: none;
  outline: none;
  background: none;
  display: inline-flex;
  align-items: center;
  color: var(--main-blue);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 12px;
  gap: 6px;
}

.learn-more i {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
  color: inherit;
}

.card:hover .learn-more i {
  transform: translateX(4px);
}

.modal {
  padding-top: var(--header-height);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.modal-content {
  background: white;
  width: min(90%, 450px);
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  text-align: left;
}

.modal-content img {
  width: 100%;
  max-height: 300px;
  border-radius: 6px;
}

.modal-content h3 {
  color: var(--main-blue);
}

.modal-content p {
  color: #333;
  font-size: 0.95rem;
}

.modal p strong {
  color: inherit;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-btn i {
  color: var(--text-white);
  font-size: 40px;
  padding: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--main-blue);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}
