.market-hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 20px;
  background: linear-gradient(to right, #0f1419, #1a2332);
  text-align: left;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--text-light);
}
.market-hero img {
  width: min(100%, 500px);
  border-radius: 12px;
}
.countdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-dark);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.countdown h2 {
  color: var(--text-white);
}

.cd-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 8px;
  margin: 10px 0;
}
.cd-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 0.31px solid var(--main-blue);
  color: var(--text-white);
  font-size: 20px;
  font-weight: 300;
}

.cd-number span {
  font-size: 5rem;
  font-weight: 400;
}
.info-section {
  display: flex;
  flex-direction: column;
}

.info-section h2 {
  color: var(--text-white);
  margin: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.card {
  background-color: #1a2332;
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 2rem;
  color: var(--main-blue);
}

.card h3 {
  color: var(--text-white);
  margin: 0;
}

.card p {
  color: var(--text-light);
  font-size: 0.95rem;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .market-hero {
    flex-direction: column;
  }

  .market-hero img {
    width: 100%;
  }
  .cd-number span {
    font-size: 3rem;
  }
}
